body {
    background-image: url("/images/background.jpg");
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:antiquewhite
}

button {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

button:hover {
    background-color: rgba(247, 247, 247, 0.774);
}

.rock,
.rock.player-btn.selected,
.rock.computer-btn.selected {
    background-image: url("images/rock.png");
    background-size: 80%;;
    background-repeat: no-repeat;
    background-position: center;
}

.paper,
.paper.player-btn.selected,
.paper.computer-btn.selected {
    background-image: url("images/paper.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.scissors,
.scissors.player-btn.selected,
.scissors.computer-btn.selected {
    background-image: url("images/scissors.png");
    background-size: 80%;;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    text-align: center;
}


.player-btn,
.computer-btn {
    outline-style: none;
    color: rgba(0, 0, 0, 0);
}

.player-btn.selected {
    border: .4rem solid black;
    border-radius: .5rem;
    transition: all 0.3s ease;
    text-align: center;
    color: white;
    background: rgba(79, 172, 216, 0.856);
    border-color: #0099ff;
    box-shadow: 0 0 1rem #0099ff;
    color: rgba(0, 0, 0, 0);
    
}

.computer-btn.selected {
    border: .4rem solid black;
    border-radius: .5rem;
    transition: all 0.3s ease;
    text-align: center;
    color: white;
    background: rgba(209, 50, 50, 0.808);
    border-color: #da2f29;
    box-shadow: 0 0 1rem #da2f29;
    color: rgba(0, 0, 0, 0);
}

#player,
#computer {
    text-align: center;
    padding-top: 20px;
}

#players,
#selectors {
    display: flex;
    justify-content: center;
}

#player-container,
#computer-container {
    padding: 20px;
    margin-top: 10px;
}

#result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    font-size: 40px;
}

#score {
    padding-top: 20px;
}

.button-reload {
    margin-top: 20px;
    height: 30px;
    outline-style: none;  
}

.reload {
    background-color: yellow;
}


